.contant {
    width: 1200px;
    margin: 20px auto 60px;    
}
a{
  color:inherit;
}

/*todo*/
.contant .list {
    padding-bottom: 40px;
}

.contant .list li:nth-of-type(2n-1) {
    margin-right: 20px;
}

.contant .list li {
    width: 590px;
    height: 170px;
    margin-top: 20px;
    float: left;
    border: 1px solid #eee;
    padding: 15px 20px;
    box-sizing: border-box;
}

.contant .list li .num {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-top: 50px;
    margin-right: 20px;
    background-color: #ffc343;
}

.contant .list li .one {
    background-color: #ff4444;
}

.contant .list li .two {
    background-color: #ff803b;
}

.contant .list li img {
    width: 170px;
    height: 140px;
    float: left;
    margin-right: 20px;
}

.contant .list li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.contant .list li p {
    font-size: 18px;
    color: #ff4848;
    margin-top: 50px;
}

.contant .list li p .price {
    float: left;
}

.contant .list li p .price span {
    font-size: 26px;
}

.contant .list li p .shouchang {
    float: right;
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
.contant .page_num_info i {
    float: left;
    width: 4px;
    background-color: #878787;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
.contant .page_num_info span {
    color: #ff4848;
}


